.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* banner css start */
#banner_section {
  background-image: url(./images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* banner css end */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  scrollbar */
/* width */
#category_list::-webkit-scrollbar,
#card_container::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

/* Track */
#card_container::-webkit-scrollbar-track,
#category_list::-webkit-scrollbar-track {
  background: rgb(8, 79, 82, 0.4);
  border-radius: 8px;
}

/* Handle */
#card_container::-webkit-scrollbar-thumb,
#category_list::-webkit-scrollbar-thumb {
  background: rgb(8, 79, 82, 1);
  border-radius: 8px;
}

/* Handle on hover */
#card_container::-webkit-scrollbar-thumb:hover,
#category_list::-webkit-scrollbar-thumb:hover {
  background: rgb(140, 13, 13);
}
